*{
border:0px;
padding:0px;
margin:0px;
}
/* #whole-wrapper{
  height: 100vh;
  width: 100%;
background:url('../images/web_settings.jpg');
background-repeat: no-repeat;
    background-size: 100%;	
	    background-position: center;
    background-attachment: fixed;

}


@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand Bold Oblique.otf');
}


@font-face {
    font-family: CHOCD;
    src: url('../fonts/CHOCD TRIAL___.otf');
}



#wel{
font-family:"CHOCD";
font-size:xx-large;
color:#42bb8f;
position:absolute;
top:10%;
left:45%;
} */